<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<center>
    <p class="info" style="font-size: 50px;padding-top: 100px;padding-bottom: 60px;" th:text="${message}"></p>
    <button type="button" class="btn btn-primary btn-lg" style="padding: 30px 50px;margin-right: 20px;"><a th:id="${book.id}" onclick="deleteBook(this)" style="color: white;">Yes</a></button>
    <button type="button" class="btn btn-primary btn-lg" style="padding: 30px 50px;margin-right: 20px;"><a href="/search" style="color: white;">No</a></button>
</center>
<script th:src="@{'/javascripts/book.js'}"></script>
</body>
</html>