<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<center>
    <div style="margin-top: 50px; width: 50%">
        <p class="alert alert-success alertMessage" role="alert" th:text="${success}" th:if="${success}"></p>
        <p class="alert alert-danger alertMessage" role="alert" th:text="${error}" th:if="${error}"></p>
    </div>
    <p class="info" style="font-size: 50px;padding-top: 50px;padding-bottom: 60px;">Welcome to Elastic Search Library !!</p>
    <button type="button" class="btn btn-primary btn-lg" style="padding: 30px 50px;margin-right: 20px;"><a href="/search" style="color: white;">Search Book</a></button>
    <button type="button" class="btn btn-primary btn-lg" style="padding: 30px 50px;margin-right: 20px;"><a href="/add" style="color: white;">Add Book</a></button>
</center>
<script th:src="@{'/javascripts/book.js'}"></script>
</body>
</html>